/* #logo-2-neon{
    display: block;
    max-width:6rem;
    height: 100%;
    margin: auto;
}
    @media screen and (max-width:600px){
        #logo-2-neon{
           max-width: 65px;
           height: 100%;
           margin:auto;
           transition:2s;
        }
    }

    @keyframes blinker {
        /* 0%,19.1%,21%,29%,31%,64% ,65.5% ,100% { opacity: 1.0; }
        20%,30% ,65%{ opacity: 0.0; }
      } */
        /* 0% , 15% ,15.4%,23%,23.4%,50%,52.2%,55%,68%,76%,100% { opacity: 1.0; }
        15.2%,23.2% ,51%,54%,74%{ opacity: 0.0; }
      } */

    #logo-2-neon {
        animation-name: blinker;
        animation-iteration-count: infinite;
        animation-timing-function:ease-in-out;
        animation-duration:5s;
        animation-direction:normal;
      }
      #logo-2-neon:hover{
        animation-play-state: paused;
    
      } 