

@import url("./bootstrap.min.css") ;

@font-face{ font-family: Santana;
    src:url("./assets/fonts/Santana.ttf");
    src:url("./assets/fonts/Santana.otf");
}

:root{
    --primary-bg : #070707;
    --secondary-bg: #1d1d1d ;
    --primary-text-color:#ce6039;
}
 main {
    background:rgb(49, 49, 49);
    /* background:linear-gradient(45deg , var(--primary-bg , var(--secondary-bg))); */
} 

/* #carouselExampleIndicators{
    width:50%;
} */
.linha-banner {
    padding:5px;
    border:2px solid var(--primary-text-color);
}
.container-fluid {
    background:var(--primary-text-color);
    /* background:rgb(49, 49, 49); */
    padding:20px 5px;
    /* background:grey; */
}

.banner-logo-nav {
    color:red;
   
}
.banner{ 
    background-image:url(../assets/backgrounds/Bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:150px;
}
.banner-logo {
    text-align:center;
    font-size:2em;
    font-family:"Santana" ;
    color:var(--primary-text-color);
    padding:5px;
    text-shadow: 10px 10px 3px rgba(0,0,0,0.7);
    -webkit-text-stroke: 0.1px #f7d8d8;
}
    .logo-1 {
        display: block;
        padding:5px;
        margin:0 auto;
        width:160px;
    }
.form {
    padding:25px;
}
/* input {
    width:500px;
} */
.submitBtn {
    padding:10px;
    background:var(--primary-text-color);
    display: block;
    margin:0 auto;
    border:none;
    border-radius: 8px;
}

.sub-footer{
    padding: 15px 7.5px;
    margin:0 auto;
}
.logos > .logo > img{
    width:25px;
}
.footer_link {
    padding: 20px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
    background:var(--primary-text-color);
    font-size:0.8em;
    margin:0 auto;
    line-height: 2em; 
}
