@import url(../styles/bootstrap.min.css);

*,body,html{
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{ 
    background:#F9F6EE;
    /* background:black; */
 }
 a {
    text-decoration: none;
}

header > nav{
    background:#ff9f1c ;
 }

header > nav > div > a > img { 
    display: block;
    max-width:6rem;
    max-height: 100%;
    margin: auto;
 }
 @media screen and (max-width:600px){
    #logo-2-neon{
       max-width: 65px;
       max-height: 100%;
       margin:auto;
       transition:2s;
    }
}

@keyframes blinker {
    0% , 15% ,15.4%,23%,23.4%,50%,52.2%,55%,68%,76%,100% { opacity: 1.0; }
    15.2%,23.2% ,51%,54%,74%{ opacity: 0.0; }
  }

#logo-2-neon {
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    animation-duration:5s;
    animation-direction:normal;
  }
  #logo-2-neon:hover{
    animation-play-state: paused;

  }

.container{
    min-width: 100%;
    min-height: 100%;

    background-color: black;
    padding:25px;
    margin:18px auto;
    border-radius: 8px;
    background: url("../assets/imgs/backgrounds/bg-recu-2.jpg");
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center;
}

.container >.form-flex > form{
    max-width:650px;
    height: fit-content;
    padding:20px;
    margin:auto;
    background:rgba(255, 255, 255, 0.482);
    border-radius: 8px;

    box-shadow: 5px 5px 15px gainsboro;

    
    /* background: url("./imgs/bg-recu-2.jpg"); */
    background-size: 100%;
    background-repeat:no-repeat ;
}
#cep-error ,#email-error,#senha-error,#cpf-error,#termos-error{
    font-size:0.7em;
    color:red;
}
#sucesso{
    display: none;
    transition: all 2s;
}

footer{
    display: flex;
    flex-direction: column;
    gap:18px;
    margin-top:18px;
}

footer > .sub-footer{
    padding: 25px;
    border:2px solid gainsboro;
    margin: 0 25px;
    border-radius:3px;
}
footer > div > div > a > img{
    width:40px;
    background:white;
    padding:1px;
}

.footer-links{
    height: 120px;
   background:#dac8b3;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap-reverse;
   justify-content: space-evenly;
   gap:20px;
}
       
@media screen and(max-width:600px){
   .footer-links{
       gap:5px;
   }
}

footer > div.footer-links > a {
   color:#0F0E0E;
   font-family:arial;
   font-size:0.8em;
   text-decoration: none;
   margin:auto;
}
footer > div.footer-links > a:hover{
   color:#17151594;
}