/* Gerais */
body {
    font-family: 'Roboto', sans-serif;
    background-image: url('../assets/imgs/img/burger2_01-sem-logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
  }
  
  .row {
    margin: 0;
  }
  
  .container {
    padding: 70px 0;
  }
  
  p, li {
    color: #444;
    font-size: 14px;
  }
  
  /* barra de navegação */
  header, .navbar {
    background-color: #ff9f1c;
  }
  
  #nav-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  #logo {
    width: 75px;
  }
  
  .navbar-brand {
    padding: 0;
    color: #FFF;
  }
  
  .navbar-brand:hover {
    color: #FFF;
  }
  
  #navbar-links a {
    color: #FFF;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
  }
  
  .nav-item.active {
    border-bottom: 3px solid #FFF;
  }
  
  /* Slider */
  .container-fluid {
    padding: 0;
  }
  
  #mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
  }

  #mainSlider {
    top: 30%;
  }

  .carousel-indicators .active {
    background-color: #ffffff;
  }
  

  .main-btn {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
  }


/* Planos */
#apply-area {
  text-align: center;
  height: 100%;
  background-color: #f48801;
}

#apply-area .container-fluid, #apply-area .row {
  height: 100%;
}

#apply-area .apply-box {
  padding: 70px 50px;
  text-align: center;
}

#company-img {
  margin-top: 0%;
  padding: 0px 0;
  background-image: url('../assets/imgs/img/empresa.jpg');
  background-size: cover;
  display: flex;
  text-align: left;
}

#pattern-img h4, #pattern-img p {
  color: rgb(255, 255, 255);
}

#pattern-img h4 {
  margin-top: 8%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#pattern-img p {
  margin-bottom: 20px;
}

#apply-btn {
  display: block;
  height: auto;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: #f48801;
  border-color: rgb(0, 0, 0);
}

#apply-btn:hover {
  border-color: #000000;
  background-color: #ffffff;
}

   /* cardapio */
   .cardapio-box {
    margin-bottom: 30px;
  }
  
  #filter-btn-box {
    margin-bottom: 50px;
    text-align: center;
  }
  
  #cardapio-area .filter-btn {
    color: #444;
    border: 1px solid #444;
    background-color: transparent;
    text-transform: none;
    margin: 0 15px;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
  }
  
  #cardapio-area .filter-btn.active, #cardapio-area .filter-btn:hover {
    color: rgb(0, 0, 0);
    border: 1px solid #000000;
    background-color: #ffffff;
  }
  
  
  /* Sobre o restaurante*/
  #sobre-area {
    background-color: #ffffff;
    padding-top: 100px;
  }
  
  .titulo-sobre {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
  }
  
  .titulo-sobre::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
  }
  
  .about-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  #about-list {
    list-style: none;
    padding-left: 0;
  }
  
  #about-list li {
    line-height: 30px;
  }
  
  #about-list i {
    color: #ff9f1c;
    margin-right: 5px;
  }
  
  
  /* rodapé  */
  #rodape-area {
    text-align: center;
    background-color: #ff9f1c;
  }
  
  #rodape-area p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  #email-input {
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #000000;
    display: inline;
    box-sizing: border-box;
    width: 40%;
    height: 40px;
  }
  
  #rodape-btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #000000;
    background-color: #ff9f1c;
    color: #FFF;
    text-transform: uppercase;
    height: 40px;
    padding: 0 30px;
    margin-left: -130px;
    position: absolute;
    transition: .5s;
  }
  
  #rodape-btn:hover {
    background-color: #FFF;
    color: #f77700;
  }
  
  /* responsivel */
  @media(max-width: 768px) {
    
    /* geral */
    .container {
      padding: 20px 0;
    }
    
    /* slider */
    #mainSlider .carousel-inner, #mainSlider .carousel-item {
      height: auto;
    }
  
    #mainSlider .carousel-caption h2 {
      font-size: 28px;
    }
  
    #mainSlider .carousel-caption p {
      font-size: 18px;
      margin-bottom: 40px;
    }
  
    .carousel-caption {
      left: 10%;
      right: 10%;
    }
    
    /* rodape */
    #rodape-area p {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  
    #email-input {
      width: 70%;
    }
  
    #call-area {
      margin-top: 30px;
    }
  
    #call-area .container {
      padding: 30px;
    }
  
    #call-area p, #call-area #call-btn {
      font-size: 16px;
    }
  
  }
   
  
  @media(max-width: 425px) {
  
    /* slider */
    #mainSlider {
      margin-top: 90px;
    }
  
    #mainSlider .carousel-caption {
      top: 5%;
    }
  
    #mainSlider .carousel-caption h2 {
      font-size: 18px;
      margin-bottom: 40px;
    }
  
    #mainSlider .carousel-caption p {
      display: none;
    }
  
    .carousel-caption .main-btn {
      
      font-size: 14px;
    }
  
  /* rodape */
  #rodape-area .main-title {
    font-size: 24px;
  }

  #rodape-area p {
    font-size: 16px;
  }

  #email-input {
    width: 80%;
  }

  #call-area p, #call-area #call-btn {
    font-size: 14px;
    letter-spacing: 0;
  }

  #call-area p, #call-area #call-btn {
    margin: 0;
    width: 50%;
  }
  }
